/pangaea-note/target/
/pangaea-note/AUTOSAVE.bin
/pangaea-note/tesseract_opencl_profile_devices.dat
.idea
/pangaea-note/src/main/resources/net/thevpc/pnote/messages/#Untitled-1#
/pangaea-note-plus/target
